.wrapper {
    font-family: Arial, Helvetica, sans-serif;
}

/* line 2, ../sass/style.scss */
*, *::after, *::before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  /* line 10, ../sass/style.scss */
  .head {
    display: block;
    position: relative;
    width: 200px;
    margin: 0 auto 0;
    -moz-animation: shvr 0.2s infinite;
    -webkit-animation: shvr 0.2s infinite;
    animation: shvr 0.2s infinite;
  }
  /* line 17, ../sass/style.scss */
  .head::after {
    content: '';
    width: 20px;
    height: 20px;
    background: #000;
    position: absolute;
    top: 30px;
    left: 25px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 125px 0 0 #000;
    -webkit-box-shadow: 125px 0 0 #000;
    box-shadow: 125px 0 0 #000;
    -moz-animation: eye 2.5s infinite;
    -webkit-animation: eye 2.5s infinite;
    animation: eye 2.5s infinite;
  }
  
  /* line 31, ../sass/style.scss */
  .meta {
    position: relative;
    display: inline-block;
    background: #fff;
    width: 75px;
    height: 80px;
    -moz-border-radius: 50% 50% 50% 50%/45px 45px 45% 45%;
    -webkit-border-radius: 50%;
    border-radius: 50% 50% 50% 50%/45px 45px 45% 45%;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  /* line 40, ../sass/style.scss */
  .meta::after {
    content: '';
    position: absolute;
    border-bottom: 2px solid #fff;
    width: 70px;
    height: 50px;
    left: 0px;
    bottom: -10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  /* line 51, ../sass/style.scss */
  .meta::before {
    bottom: auto;
    top: -100px;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 0;
  }
  /* line 58, ../sass/style.scss */
  .meta:nth-of-type(2) {
    float: right;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  /* line 61, ../sass/style.scss */
  .meta:nth-of-type(2)::after {
    left: 5px;
  }
  /* line 64, ../sass/style.scss */
  .meta:nth-of-type(3) {
    display: none;
  }
  
  /* line 70, ../sass/style.scss */
  .body {
    margin-top: 100px;
    text-align: center;
    color: #fff;
  }
  /* line 74, ../sass/style.scss */
  .body::before {
    content: '404';
    font-size: 80px;
    font-weight: 800;
    display: block;
    margin-bottom: 10px;
  }
  /* line 81, ../sass/style.scss */
  .body::after {
    content: 'Got lost? How.....?  why.....?  Ahhhh....';
    color: #1EA7AB;
    width: 120px;
    font-size: 30px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    -moz-animation: text-show 2s infinite steps(3);
    -webkit-animation: text-show 2s infinite steps(3);
    animation: text-show 2s infinite steps(3);
  }
  
  @-moz-keyframes eye {
    0% ,30% , 55%, 90% , 100% {
      -moz-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    10%, 25% {
      -moz-transform: translate(0, 20px);
      transform: translate(0, 20px);
    }
    65% {
      -moz-transform: translate(-20px, 0);
      transform: translate(-20px, 0);
    }
    80% {
      -moz-transform: translate(20px, 0);
      transform: translate(20px, 0);
    }
  }
  @-webkit-keyframes eye {
    0% ,30% , 55%, 90% , 100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    10%, 25% {
      -webkit-transform: translate(0, 20px);
      transform: translate(0, 20px);
    }
    65% {
      -webkit-transform: translate(-20px, 0);
      transform: translate(-20px, 0);
    }
    80% {
      -webkit-transform: translate(20px, 0);
      transform: translate(20px, 0);
    }
  }
  @keyframes eye {
    0% ,30% , 55%, 90% , 100% {
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    10%, 25% {
      -moz-transform: translate(0, 20px);
      -ms-transform: translate(0, 20px);
      -webkit-transform: translate(0, 20px);
      transform: translate(0, 20px);
    }
    65% {
      -moz-transform: translate(-20px, 0);
      -ms-transform: translate(-20px, 0);
      -webkit-transform: translate(-20px, 0);
      transform: translate(-20px, 0);
    }
    80% {
      -moz-transform: translate(20px, 0);
      -ms-transform: translate(20px, 0);
      -webkit-transform: translate(20px, 0);
      transform: translate(20px, 0);
    }
  }
  @-moz-keyframes shvr {
    0% {
      -moz-transform: translate(1px, 1em);
      transform: translate(1px, 1em);
    }
    50% {
      -moz-transform: translate(0, 1em);
      transform: translate(0, 1em);
    }
    100% {
      -moz-transform: translate(-1px, 1em);
      transform: translate(-1px, 1em);
    }
  }
  @-webkit-keyframes shvr {
    0% {
      -webkit-transform: translate(1px, 1em);
      transform: translate(1px, 1em);
    }
    50% {
      -webkit-transform: translate(0, 1em);
      transform: translate(0, 1em);
    }
    100% {
      -webkit-transform: translate(-1px, 1em);
      transform: translate(-1px, 1em);
    }
  }
  @keyframes shvr {
    0% {
      -moz-transform: translate(1px, 1em);
      -ms-transform: translate(1px, 1em);
      -webkit-transform: translate(1px, 1em);
      transform: translate(1px, 1em);
    }
    50% {
      -moz-transform: translate(0, 1em);
      -ms-transform: translate(0, 1em);
      -webkit-transform: translate(0, 1em);
      transform: translate(0, 1em);
    }
    100% {
      -moz-transform: translate(-1px, 1em);
      -ms-transform: translate(-1px, 1em);
      -webkit-transform: translate(-1px, 1em);
      transform: translate(-1px, 1em);
    }
  }
  @-moz-keyframes text-show {
    to {
      text-indent: -373px;
    }
  }
  @-webkit-keyframes text-show {
    to {
      text-indent: -373px;
    }
  }
  @keyframes text-show {
    to {
      text-indent: -373px;
    }
  }
  